* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

/* Responsive calculation */

html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
    font-family: Type;
}

body {
    background-color: #111111;
    color: var(--text-2);
}

:root {
    font-size: 12px;

    /*Modo Claro*/
    --background-1: #ebebeb;
    --background-2: var(--text-2);
    --text-1: #ffffff;
    --text-2: #222222;
}

@media (prefers-color-scheme: dark) {
    :root {
        /*Modo Oscuro*/
        --text-1: #ffffff;
        --text-2: #ffffff;
        --background-1: #111111;
        --background-2: #262626;
    }
}

h1 {
    font-size: 3.1rem;
    font-weight: 800;
}

h2 {
    font-size: 1.9rem;
}

h6 {
    font-family: Logo;
    text-transform: uppercase;
}

figcaption {
    font-size: 1.2rem;
    font-weight: 800;
}

a {
    font-size: 1.2rem;
    font-weight: 400;
    text-decoration: none;
}

a:visited {
    color: var(--text-2);
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin-right: auto;
}

li {
    font-size: 1.2rem;
    font-weight: 400;
    text-decoration: none;
}

p {
    font-size: 1.2rem;
    margin-top: 1rem;
}

blockquote,
blockquote a {
    font-size: 1.9rem;
    font-weight: 200;
    text-decoration: none;
}

cite {
    font-style: italic;
    font-size: 2rem;
    display: block;
}

figcaption {
    font-size: 1rem;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@font-face {
    font-family: Logo;
    src: url(Fonts/ButlerStencil-UltraLight.woff);
    font-display: block;
}

@font-face {
    font-family: Type;
    src: url(Fonts/Manrope-VariableFont_wght.ttf);
    font-display: block;
}

.block {
    background-color: #111111;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}

/*Loading Screen*/
#Loading-Screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--text-1);
    z-index: 5;
    opacity: 0;
    pointer-events: none;
}

/* Loader Imágenes */

.loader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
}

.loader .img {
    position: absolute;
    width: 100vw;
    height: 100vh;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: var(--background-2);
    color: var(--text-1);
    display: grid;
    grid-template-columns: 2em 1fr 1fr 2em;
    grid-template-rows: 6vh 1fr 1fr 6vh;
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
}

.loader-text {
    grid-column: 2/3;
    grid-row: 2/4;
    display: flex;
    gap: 0.4rem;
    flex-direction: column;
}

.loader-info {
    grid-column: 3/4;
    grid-row: 2/3;
}

.loader-count {
    grid-column: 3/4;
    grid-row: 3/4;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.loader-text-container,
.loader-text-container-2 {
    margin: 0;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    font-size: 60px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1;
}

.col:nth-child(2) .loader-text-container-2 {
    font-size: 24px;
    text-align: right;
    color: gray;
}

.col:nth-child(2) .loader-text-container-2 span {
    color: var(--text-1);
}

/* Counter */

.counter {
    display: flex;
    height: 100px;
    font-size: 100px;
    line-height: 102px;
    clip-path: polygon(0 0, 100% 0, 100% 100px, 0 100px);
}

.digit-1,
.digit-2,
.digit-3 {
    position: relative;
    top: -15px;
}

.num1offset1 {
    position: relative;
    right: -25px;
}

.num1offset2 {
    position: relative;
    right: -10px;
}

@media(max-width: 600px) {
    .overlay {
        grid-template-columns: 2em calc(100vw - 4em) 2em;
        grid-template-rows: 6vh 1fr 6vh 1fr 6vh;
    }

    .loader-text {
        grid-column: 2/3;
        grid-row: 2/3;
        gap: 0.8rem;
    }

    .loader-info {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .loader-count {
        grid-column: 2/3;
        grid-row: 4/5;
    }

    .loader-text-container,
    .loader-text-container-2 {
        font-size: 30px;
    }

    .col:nth-child(2) .loader-text-container-2 {
        font-size: 18px;
        text-align: center;
    }
}


/*-----Nav-----*/

.nav-bar {
    position: fixed;
    width: 100vw;
    height: 6vh;
    top: -200px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-1);
    color: var(--text-2);
    z-index: 3;
    padding: 0em 2em;
}

#menu-toggle-btn {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s;
    z-index: 10;
}

.menu-btn {
    height: 2px;
    width: 2rem;
    display: inline-block;
    position: absolute;
    top: 50%;
    transition: all 0.3s;
    background: var(--text-2);
}

.menu-btn::before {
    content: "";
    height: 2px;
    width: 2rem;
    display: inline-block;
    position: absolute;
    transform: translateY(-6px);
    transition: all 0.3s;
    background: var(--text-2);
    top: -2px;
}

.active .menu-btn {
    transform: rotate(45deg);
    background: #ffffff;
}

.active .menu-btn::before {
    top: unset;
    transform: rotate(-90deg);
    background: #ffffff;
}

.active:hover .menu-btn::before {
    top: unset;
}

/*Vista de Nevegacion*/

.nav-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: -101vh;
    color: var(--text-2);
    background: var(--background-2);
    display: grid;
    grid-template-rows: 6vh 1fr 40vh 1fr 6vh;
    z-index: 2;
    overflow: hidden;
}

.logo-text {
    font-size: 1.8rem;
}

.nav-main {
    grid-row: 3/4;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.social-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}

.nav-logo {
    font-size: 70px;
}

.nav-socials {
    display: flex;
    flex-direction: column;
}

.nav-socials a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    padding: .3em .4em;
}

.contact-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.contact-link {
    position: relative;
}

.contact-link a {
    position: relative;
    top: 60px;
    text-decoration: none;
    color: #ffffff;
    font-size: 4rem;
}

.nav-items-wrapper:after {
    content: "";
    position: absolute;
    top: 70px;
    left: 0;
    width: 500px;
    height: 5rem;
    background: var(--background-2);
    margin: 0 auto;
    transition: 1s;
}

.nav-footer {
    grid-row: 5/6;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-footer a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}

@media(max-width: 600px) {
    .nav-main {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .nav-logo {
        display: none;
    }

    .nav-footer {
        display: none;
    }

    .contact-link {
        padding: 1rem 0;
    }

    .contact-link a {
        font-size: 3rem;
    }

    .social-links {
        margin-top: 6rem;
    }

    .nav-socials a {
        padding: 1rem 0;
    }
}

/*-----Contenido-----*/
#Contenido {
    min-height: 180vh;
    width: 100%;
}

#Design,
#Photo,
#Art {
    display: grid;
    grid-template-columns: 3vw 1fr 3vw;
}

#About {
    display: grid;
    grid-template-columns: 5vw 1fr 5vw;
    margin-bottom: 2.5vw;
}

#Design {
    padding-top: 8vh;
}

.section-content {
    grid-column: 2/3;
    min-height: 40vh;
}

.img-section {
    min-height: 30vh;
    width: 100%;
}

.title-section blockquote {
    width: 70%;
    padding-top: 2rem;
}


#content-Design,
#content-Photo,
#content-Art {
    display: grid;
    grid-template-columns: 2vw 1fr 1fr 2vw;
    grid-template-rows: 66vh 1fr;
    padding-top: 2rem;
    padding-bottom: 2rem;
    min-height: 100vh;
}

#content-About {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr 2.5vw 1fr;
    grid-template-rows: 1fr;
}

#content-Design .title-section,
#content-Art .title-section {
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 2rem;
}

#content-Photo .title-section,
#content-About .title-section {
    grid-column: 3/4;
    grid-row: 1/2;
    padding: 2rem;
}

#content-Design .text-section,
#content-Art .text-section {
    grid-column: 3/4;
    grid-row: 1/2;
    padding: 2rem;
}

#content-Photo .text-section,
#content-About .text-section {
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 2rem;
}


#content-Design .img-section,
#content-Photo .img-section {
    grid-column: 2/4;
    grid-row: 2/3;
}



#content-Art .img-section {
    grid-column: 2/4;
    grid-row: 2/3;
}

#content-About .img-section {
    grid-column: 1/2;
    grid-row: 1/2;
}

.gallery {
    height: 66vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    padding-bottom: 2rem;

}

.gallery-img {
    height: 100%;
    width: 1fr;
    overflow: hidden;
}

.img-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.gallery-img img,
.img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.gallery-img:hover img,
.img-container:hover img {
    transform: scale(1.2);
}

@media(max-width: 600px) {

    #About {
        grid-template-columns: 3vw 1fr 3vw;
        margin-bottom: 2rem;
    }

    #content-Design,
    #content-Photo,
    #content-Art,
    #content-About {
        display: flex;
        flex-direction: column;
    }

    .title-section blockquote {
        width: 100%;
    }

    #content-Design .title-section,
    #content-Art .title-section,
    #content-Photo .title-section {
        padding: .5rem;
    }

    #content-About .title-section {
        padding: .5rem 0.5rem 2rem 0.5rem;
    }

    #content-Design .text-section,
    #content-Art .text-section,
    #content-Photo .text-section,
    #content-About .text-section {
        padding: .5rem;
        padding-bottom: 1.5rem;
    }

    .gallery {
        height: auto;
        width: 100%;
        flex-direction: column;
        gap: 1rem;
        padding-top: .5rem;
        padding-bottom: .5rem;

    }

    .gallery-img {
        height: 66vh;
        width: 100%;
        overflow: hidden;
    }

    .gallery-img:hover img,
    .img-container:hover img {
        transform: scale(1.05);
    }

}